<html>
  <head>
    <title>Resolver Service</title>
  </head>
  <body>
  <h1>Resolver Service</h1>
  <p> Upload a file to the resolver service.  Returns an xml premis report.
  </p>
    <form action="/" method="POST" enctype="multipart/form-data">
      <input type='file' name='xmlfile'>
      <input type='submit' value='resolve'>
    </form>
  </body>
</html>