<html>
  <head>
    <title>Resolver Service</title>
  </head>
  <body>
    <table>
      <tr>
        <th>IEID</th>
        <th>Manifest</th>
      </tr>
      <% @array.each do |x| %>
        <tr>
          <td><%= x %></td>
          <td>Manifest</td>
        </tr>
      <% end %>
    </table>
  </body>
</html>